In [1]:
# 1. Print numbers from 1 to 5
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
# Print each letter in a string
for char in "data":
    print(char)

d
a
t
a

In [4]:
 #3. Sum of numbers in a list
numbers=[1,2,3,4,5]
total=0
for num in numbers:
    total+=num
print("total:",total)

total: 15

In [6]:
#. Print even numbers from 1 to 10
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [7]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [8]:
# 5. Print multiplication table of 3
for i in range(1,11):
    print(3,"*",i,"=",3*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [10]:
# 6. Iterate over list with index
fruits=["apple","banana","grapes"]
for i in range(len(fruits)):
    print(i,fruits[i])

0 apple
1 banana
2 grapes

In [12]:
# 7. Print squares of number
for i in range(6):
     print(i**2)

0
1
4
9
16
25

In [15]:
# 8. Loop over dictionary
student={"name":"Nazma","age":"20"}
for key in student:
    print(key,"-",student[key])

name - Nazma
age - 20

In [16]:
# 9. Nested loop for pairs
for i in range(3):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [23]:
# 10. Loop over a set
colors={"red","blue","green"}
for color in colors:
    print("color:",color)

color: blue
color: green
color: red

In [26]:
 #11. Loop with break
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [27]:
# 12. Loop with continue
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [29]:
# 13. Reverse a string
s="hello"
for char in reversed(s):
    print("reverse:",char)

reverse: o
reverse: l
reverse: l
reverse: e
reverse: h

In [32]:
# 14. Loop through two lists
names=["a","b","c"]
score=["90","80","70"]
for names,score in zip(names,score):
    print(names,score)

a 90
b 80
c 70

In [34]:
# 15. Nested list
matrix=[[1,2,3],[4,5,6]]
for row in matrix:
    for value in row:
        print("matrix value:",value)

matrix value: 1
matrix value: 2
matrix value: 3
matrix value: 4
matrix value: 5
matrix value: 6

In [37]:
# 16. List comprehension
squares=[i**2 for i in range(6)]
print("squares:",squares)

squares: [0, 1, 4, 9, 16, 25]

In [45]:

# 17. Loop with else
for i in range(3):
    print(i)
else:
     print("pass")

0
1
2
pass

In [46]:

# 18. Filter vowels
for char in "machine":
    if char in "aeiou":
        print(char)

a
i
e

In [47]:
# 19. ASCII values
for char in "AB":
    print(char,'-',ord(char))

A - 65
B - 66

In [48]:

# 20. Countdown
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

while loops

In [3]:
# 1. Count from 1 to 5
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [6]:
# 2. Print even numbers less than 10
i=2
while i <=10:
    print(i)
    i=i+2

2
4
6
8
10

In [8]:

# 3. Sum until 100
sum=0
i=1
while sum<100:
    sum=sum+i
    i=i+1
print("sum:",sum)

sum: 105

In [10]:
# 4. Countdown from 5
i=5
while i>0:
    print(i)
    i=i-1

5
4
3
2
1

In [1]:
# 5. Infinite loop with break
i=0
while True:
    print(i)
    if i==2:
        break
    i=i+1

0
1
2

In [11]:

# 6. Loop with continue

i=0
while i < 5:
    i=i+1
    if i == 2:
        continue
    print(i)

1
3
4
5

In [12]:
# 7. Print powers of 2 below 100
i=1
while i<100:
    print(i)
    i*=2

1
2
4
8
16
32
64

In [14]:
# 8. Loop over list
lst=[1,2,3,4,5]
i=0
while i < len(lst):
    print(lst[i])
    i=i+1

1
2
3
4
5

In [21]:
# 9. Input validation
x=" "
while x !="yes":
    x = "yes"
    print("yes")

yes

In [24]:

# 10. Factorial using while
n=5
fact=1
while n>0:
    fact*=n
    n=n-1
print(fact)

120

In [26]:
# 11. Loop through characters
s="data"
i=0
while i < len(s):
    print(s[i])
    i=i+1

d
a
t
a

In [28]:
# 12. Loop with else
i=0
while i<3:
    print(i)
    i=i+1
else:
    print("done")

0
1
2
done

In [40]:

# 13. Print digits of number
n=123
while n>0:
    print(n%10)
    n//=10

3
2
1

In [42]:
# 14. Nested while loop
i=0
while i < 2:
    j = 0
    while j < 2:
        print(i,j)
        j += 1
    i +=1

0 0
0 1
1 0
1 1

In [43]:

# 15. Print odd numbers
i=1
while i<10:
    print(i)
    i=i+2

1
3
5
7
9

In [1]:
#odd numbers
i=0
while i<10:
    print(i)
    i=i+2

0
2
4
6
8

In [2]:
# check prime numbers
n = 7
i = 2
is_prime = True
while i < n:
    if n % i == 0:
        is_prime = False
        break
    i += 1
print("While Loop 16 Prime:", is_prime)

While Loop 16 Prime: True

In [6]:

# 17. Reverse number
num=123
rev=0
while num >0:
    rev=rev*10+num%10
    num //= 10
print(rev)

321

In [7]:

# 18. Print Fibonacci up to 10
a,b=0,1
while b<=10:
    print(b)
    a,b=b,a+b

1
1
2
3
5
8

In [10]:
# 19. Loop to find first multiple of 7 > 50
n=51
while n % 7 != 0:
    n=n+1
print(n)

56

In [14]:
# 20. Check palindrome
word = "madam"
i=0
j=len(word) - 1
is_palindrome = True
while i<j:
    if word[i]!=word[j]:
        is_palindrome=False
        break
    i=i+1
    j=j-1
print(is_palindrome)

True

In [ ]:
if else

In [16]:
# 1. Check even or odd
n=4
if n % 2 ==0:
    print("even")
else:
    print("odd")

even

In [17]:
# 2. Positive, Negative or Zero
n=0
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

zero

In [18]:
# 3. Check eligibility
age=18
if age>=18:
    print("elgible")
else:
    print("not elgible")

elgible

In [19]:
# 4. Max of two
a,b=5,7
if a>b:
    print(a)
else:
    print(b)

7

In [24]:
# 5. Grading
score=85
if score>=90:
    print("a")
elif score>=80:
    print("b")
else:
    print("c")

b

In [26]:
# 6. Check divisor
a=20
if a%5 ==0:
  print("divisible by 5")

divisible by 5

In [28]:

# 7. Username match
username="admin"
if username == "admin":
    print("welcome")

welcome

In [29]:
# 8. Password check
password="1234"
if password == "1234":
    print("acess granted")
else:
    print("acess denied")

acess granted

In [30]:
# 9. Number in range
num=8
if 1 <= num <=10:
    print("in range")

in range

In [31]:

# 10. Leap year check

year=2020
if(year%4==0 and year% 100!=0) or (year%400 == 0):
    print("leap year")
else:
    print("non leap year")

leap year

In [32]:
# 11. Check type
value="123"
if isinstance(value,str):
    print("is's a string")

is's a string

In [34]:
# 12. Check alphabet
char='a'
if char.isalpha():
    print("alphabet")

alphabet

In [35]:

# 13. Check upper or lower

char='A'
if char.isupper():
    print("upper")
else:
    print("lower")

upper

In [40]:
# 14. Vowel or consonant
ch ='e'
if ch in 'aeiou':
    print("vowel")
else:
    print("consonant")

vowel

In [41]:
# 16. Triangle type
a,b,c=3,3,3
if a==b==c:
    print("equilateral")
elif a==b or b==c or a==c:
    print("isolateral")
else:
    print("scalene")

equilateral

In [42]:
# 17. Age group
age=30
if age <10:
    print("child")
elif age <20:
    print("teenage")
else:
    print("adult")

adult

In [43]:

# 18. Check last digit
n=123
if n%10 ==3:
    print("ends with 3")

ends with 3

In [44]:
# 19. Number length
n=1234
if len(str(n))==4:
    print("4-digit number")

4-digit number

In [ ]:

# 20. Compare strings

s="hello"
t="worls